# Godot 4+ specific ignores
.godot/
PC Computer - I Wanna Be The Guy - Killers 1.png
PC Computer - I Wanna Be The Guy - Killers 1.png.import
PC Computer - I Wanna Be The Guy - The Kid.png
PC Computer - I Wanna Be The Guy - The Kid.png.import
PC Computer - Rockman 8 FC Mega Man 8 FC - Grenade Man.png
PC Computer - Rockman 8 FC Mega Man 8 FC - Grenade Man.png.import
*.kra~
*.png~
